accounts/*
!accounts/.*
data/*
!data/.*
languages/*
!languages/.*
plugins/*
!plugins/.*
!plugins/community-partners
themes/*
!themes/.*
!themes/kis-legacy/
**/config/security.yaml
**/config/system.yaml